# =============== #
# Unity Generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/

# ============ #
# Auto Updater #
# ============ #
Updater/

# ==================== #
# Visual Studio / JetBrains #
# ==================== #
.vscode/
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb

# Rider project files
.idea/
*.sln.iml

# ================= #
# OS-specific junk  #
# ================= #
.DS_Store
Thumbs.db

# =============== #
# Build artifacts #
# =============== #
*.apk
*.aab
*.xcarchive

# ========== #
# Git Files #
# ========== #
*.orig
